@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
}

.btn {
  width: 50%;
  border: 2px solid black;
  transition: 0.4s;
  background-color: rgb(0, 0, 0);
  color: white;
}

.body {
  font-family: "Lobster", cursive;
}

.navegador {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  transition: 0.5s;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navegador:hover {
  background-color: rgb(0, 0, 0);
}
.navegador ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navegador ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-size: 20px;
  transition: 0.2s;
}
.navegador ul li a:hover {
  color: rgb(0, 255, 234);
}
.navegador .logo {
  color: white;
}
@media (max-width: 550px) {
  .navegador .logo {
    margin-left: 20px;
  }
}

.navegador2 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 80px;
  transition: 0.5s;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navegador2 ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navegador2 ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-size: 20px;
  transition: 0.2s;
}
.navegador2 ul li a:hover {
  color: rgb(0, 255, 234);
}
.navegador2 .logo {
  color: white;
}
@media (max-width: 550px) {
  .navegador2 .logo {
    margin-left: 20px;
  }
}

@media (max-width: 820px) {
  .navegador {
    justify-content: space-between;
  }
  .navegador ul {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.502);
    width: 70%;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    right: -600px;
    padding: 0;
    margin: 0;
    align-items: center;
    transition: 0.7s;
  }
  .navegador ul:hover {
    right: 0;
  }
}
@media (max-width: 820px) {
  .navegador ul li a {
    color: white;
    padding: 0;
    margin: 0;
  }
}
.fa-bars {
  font-size: 30px;
  display: none;
  margin-right: 30px;
  color: white;
}
.fa-bars:hover + ul {
  right: 0;
}
@media (max-width: 820px) {
  .fa-bars {
    display: block;
  }
}

.text-productos {
  margin-top: 250px;
  font-size: 100px;
  color: white;
}
@media (max-width: 820px) {
  .text-productos {
    font-size: 50px;
  }
}

@media (max-width: 820px) {
  .navegador2 {
    justify-content: space-between;
  }
  .navegador2 ul {
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.502);
    width: 70%;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    justify-content: start;
    right: -600px;
    padding: 0;
    margin: 0;
    align-items: center;
    transition: 0.7s;
  }
  .navegador2 ul:hover {
    right: 0;
  }
}
@media (max-width: 820px) {
  .navegador2 ul li a {
    color: white;
    padding: 0;
    margin: 0;
  }
}
.fa-bars2 {
  font-size: 30px;
  display: none;
  margin-right: 30px;
  color: white;
}
.fa-bars2:hover + ul {
  right: 0;
}
@media (max-width: 820px) {
  .fa-bars2 {
    display: block;
  }
}

.text-productos {
  margin-top: 250px;
  font-size: 100px;
  color: white;
}
@media (max-width: 820px) {
  .text-productos {
    font-size: 50px;
  }
}

.portada {
  width: 100%;
  height: 750px;
  background: url(../multimedia/tienda-ropa-efecto-borroso-min.jpg);
  background-size: cover;
  background-position: center;
}

.portada-productos {
  width: 100%;
  height: 750px;
  background: url(../multimedia/portada-productos-min.jpg);
  background-size: cover;
  background-position: center;
}

.portada-ubicación {
  width: 100%;
  height: 750px;
  background: url(../multimedia/portada-ubicación\ \(1\)-min.jpg);
  background-size: cover;
  background-position: center;
}

.caja {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 150px;
  color: white;
}
.caja .caja-1 {
  border: solid 2px white;
  border-radius: 10px;
  padding: 15px;
}
.caja .caja-2 {
  border: solid 2px white;
  border-radius: 10px;
  padding: 15px;
}

.tarjeta {
  border: solid 2px rgb(0, 0, 0);
  width: 300px;
  height: 400px;
  margin-top: 200px;
  transition: 0.5s;
}
.tarjeta:hover {
  width: 310px;
  height: 410px;
  -webkit-box-shadow: 2px 2px 33px 0px #000000;
  box-shadow: 2px 2px 33px 0px #000000;
}

.btn:hover {
  background-color: rgb(33, 255, 4);
  color: black;
  border: 2px solid black;
}

.caja-mail {
  width: 100%;
  height: 350px;
  background-color: rgb(0, 0, 0);
  margin-top: 200px;
  color: white;
}
.caja-mail .gif {
  width: 250px;
  height: 250px;
}
@media (max-width: 550px) {
  .caja-mail .gif {
    width: 200px;
    height: 200px;
  }
}

.caja-2-mail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0 50px 0;
}
.caja-2-mail .form-mail {
  display: block;
  width: 100%;
  border: 1px solid rgba(22, 22, 22, 0.7);
  appearance: none;
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  appearance: none;
  margin-top: 20px;
}
.caja-2-mail button {
  background-color: white;
  display: block;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 5px;
  width: 150px;
  margin-top: 10px;
  margin-left: 40%;
}
@media (max-width: 550px) {
  .caja-2-mail button {
    width: 100px;
    font-size: 15px;
  }
}

.animaciones {
  margin-top: 200px;
}

.tarjeta-2 {
  width: 300px;
  height: 300px;
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 33px 0px #000000;
  box-shadow: 2px 2px 33px 0px #000000;
}
@media (max-width: 550px) {
  .tarjeta-2 {
    width: 200px;
  }
}
.tarjeta-2 .content {
  position: absolute;
  text-align: center;
  color: rgb(0, 166, 255);
  z-index: 3;
  opacity: 0;
  transform: translateY(-30px);
  transition: 1s;
}
.tarjeta-2 .content h2 {
  font-size: 35px;
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0), 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000, 7px 11px 4px #000000;
}
.tarjeta-2 img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: 1;
  transition: 0.5s;
}
.tarjeta-2::after {
  content: "";
  position: absolute;
  width: 540px;
  height: 590px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 2;
  transform: translate(-350px, -350px) rotateZ(60deg);
  transition: 0.5s;
}
.tarjeta-2:hover .content {
  opacity: 100;
  transform: translateY(0px);
}
.tarjeta-2:hover img {
  transform: scale(1.5);
}
.tarjeta-2:hover::after {
  transform: translate(0px, 0px) rotateZ(60deg);
}

.sucursal {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 200px;
  color: white;
  margin-top: -7px;
}

.map-ubi {
  width: 100%;
  height: 800px;
}

.nosotros {
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(0, 0, 0);
  padding: 20px;
  margin: 40px;
}

.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 500px;
  margin-top: 500px;
  color: white;
  text-decoration: none;
}

.redes a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px 0;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  vertical-align: top;
  background-color: white;
  font-size: 22px;
  opacity: 0.9;
  transition: 0.3s;
}
.redes a:hover {
  opacity: 1;
}

.footer div ul li a {
  text-decoration: none;
  color: white;
}

.footer div ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.btn-carrito-producto {
  width: 40px;
  height: 35px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}
.btn-carrito-producto:hover {
  background-color: rgb(255, 4, 4);
  color: black;
  border: 2px solid black;
}

.btn-carrito-vaciar-carrito {
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}
.btn-carrito-vaciar-carrito:hover {
  background-color: rgb(255, 4, 4);
  color: black;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
