.portada{
    width: 100%;
    height: 750px;
    background: url(../multimedia/tienda-ropa-efecto-borroso-min.jpg);
    background-size: cover;
    background-position: center;
}
.portada-productos{
    width: 100%;
    height: 750px;
    background: url(../multimedia/portada-productos-min.jpg);
    background-size: cover;
    background-position: center;
}
.portada-ubicación{
    width: 100%;
    height: 750px;
    background: url(../multimedia/portada-ubicación\ \(1\)-min.jpg);
    background-size: cover;
    background-position: center;
}